body {
  padding-bottom: 50px;
}

#loading {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  top: -70px;
  right: 200px;
  background: black;
  color: white;
  padding: 20px;
  z-index: 100;
}

.video_extras .video_form {
  margin-bottom: 20px;
}

.video_extras .thumbnail > img {
  margin-left: 9px;
  margin-top: 9px;
}

.video_extras .thumbnails ul {
  margin: 0;
}

.video_extras .thumbnails ul li {
  list-style: none;
}

.video_extras .thumbnails li:nth-child(odd) {
  clear: left;
}

.video_extras .thumbnails .thumbnail {
  position: relative;
  background-color: white;
}

.video_extras .thumbnails .thumbnail .handle {
  cursor: move;
  display:none;
}

.video_extras .thumbnails .thumbnail:hover .handle {
  display: block;
  position: absolute;
  right: 9px;
  top: 9px;
}

.video_extras #video_new_errors {
  display: none;
}

.clear {
  clear: boths;
}

/* performances index */
#performances_list tr .handle {
  display:none;
  cursor: move;
}

#performances_list tr:hover .handle {
  display:block;
}
