body {
  padding-bottom: 50px;
}

#loading {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  top: -70px;
  right: 200px;
  background: black;
  color: white;
  padding: 20px;
  z-index: 100;
}

.footer {
  padding: 20px;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
}

/* performance edit */
#performance_show_link {
  margin-top: -40px;
}


h2 {
  margin-top: 60px;
  border-bottom: 3px solid #ccc;
}


/* main video */
.video_main .performance_video_script {
  float: left;
}

.video_main .performance_video_text {
  float: left;
  margin-left: 20px;
}

/* video extras */

.video_extras .video_form {
  margin-bottom: 20px;
}

.video_extras .thumbnail > img {
  margin-left: 9px;
  margin-top: 9px;
}

.video_extras .thumbnails ul {
  margin: 0;
}

.video_extras .thumbnails ul li {
  list-style: none;
}

.video_extras .thumbnails li:nth-child(odd) {
  clear: left;
}

.video_extras .thumbnails .thumbnail {
  position: relative;
  background-color: white;
}

.video_extras .thumbnails .thumbnail .handle {
  cursor: move;
  display:none;
}

.video_extras .thumbnails .thumbnail:hover .handle {
  display: block;
  position: absolute;
  right: 9px;
  top: 9px;
}

.video_extras #video_new_errors {
  display: none;
}

.video_extras #video_pic {
  display: none;
}

.video_extras form input,
.video_extras form textarea,
.video_extras form .mdm-preview {
  width: 518px !important;
}

.video_extras form .nice_file_field input {
  width: 374px;
}

.clear {
  clear: boths;
}

/* performances index */
#performances_list tr .handle {
  display:none;
  cursor: move;
}

#performances_list tr:hover .handle {
  display:block;
}
