body {
  padding-bottom: 50px;
}

#loading {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  top: -70px;
  right: 200px;
  background: black;
  color: white;
  padding: 20px;
  z-index: 100;
}

.video_extras .video_form {
  margin-bottom: 20px;
}

.video_extras .thumbnail > img {
  margin-left: 9px;
  margin-top: 9px;
}

.modal.video{
  width: 668px;
  margin-left: -334px; /* - width/2 */
}

.clear {
  clear: boths;
}