<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bed and Breakfast – Choose my own adventure – Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="./assets/jquery/jquery.js"></script>
    <script src="./assets/nivo-slider/jquery.nivo.slider.js"></script>
    <link href="./assets/nivo-slider/themes/default/default.css" type="text/css" media="screen" rel="stylesheet"/>
    <link href="./assets/nivo-slider/nivo-slider.css" type="text/css" media="screen" rel="stylesheet"/>

    <link href="./assets/bb/bb_front.css" rel="stylesheet">
    <script src="./assets/bb/bb_front.js"></script>
  </head>

  <body>

    <div class="container">
      <div id="menu">
        <ul>
          <li>Performance
            <ul>
              <li><a href="#">DeTour</li>
              <li><a href="#">Das Fest</a></li>
              <li><a href="#">La Cena</a></li>
              <li class="active"><a href="#">Choose my own adventure</a></li>
            </ul>
          </li>

          <li>Video
            <ul>
              <li><a href="#">Video from DeTour</a></li>
              <li><a href="#">Video from Das Fest</a></li>
              <li><a href="#">Video from La Cena</a></li>
              <li><a href="#">Video from Choose my own adventure</a></li>
            </ul>
          </li>

          <li><a href="#">About</a></li>
        </ul>
      </div>

      <div id="main">
        <div id="content">
          <div class="element extras">
            <h1>Choose my own adventure – Video</h1>
            <div id="extras_elements">
              <ul>
                <li><img title="Samples" src="./images/choose/extras1.jpg" /></li>
                <li><img title="Day One" src="./images/choose/extras2.jpg" /></li>
              </ul>
            </div>
            <div id="related_links">
              <a href="./performance.html">Link to performace</a> |
              <a href="./video.html">Link to video</a>
            </div>
            <div id="text">
              <p>
                Extras for the performance
                <a href="./performance.html">Choose my own adventure</a>
              </p>
            </div>
          </div>
        </div>

        <div id="footer">
          Contact: <a href="#">hello@bedandbreakfast.perf</a>
        </div>
      </div>
    </div>

  </body>
</html>