<!-- Modal -->
<div id="video_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="video_form_label">Create new Extra Video</h3>
  </div>

  <form class="form" enctype="multipart/form-data" method="post">
    <div class="modal-body">
      <div id="video_new_errors" class="alert alert-error"></div>
      <input class="span5" id="video_title" name="video[title]" placeholder="The Video title" type="text">
      <input class="video_pic_field" id="video_pic" name="video[pic]" style="display:none" type="file">
      <textarea class="span5" id="video_script" name="video[script]" placeholder="The Video script" rows="4"></textarea>
      <textarea class="span5 mdm-input" id="video_text" name="video[text]" placeholder="The Video description" rows="5"></textarea>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <input class="submit btn btn-primary" name="commit" type="submit" value="Create the new Extra Video">
    </div>
  </form>
</div><!-- video new -->